{% if concatenated %}
  code/number:<span class="license-plate">{{ code }} {{ number }}</span>
{% else %}
  Code:<span class="license-plate—code">{{ code }}</span><BR> 
  Number:<span class="license-plate—number">{{ number }}</span>
{% endif %}
